<% layout('layouts/boilerplate') %>
<h1 class="mb-5">Top</h1>


<% if(currentUser?.name){ %> 
    <h2>ようこそ。 <%= currentUser?.name %>さん</h2>
<% } else { %>  
    <h2>ログインされていません</h2>
<% } %> 

<a href="http://localhost:3000/debug">デバッグページ</a>